<audio controls
    	data-info-album-title=" "
    	data-info-artist=" "
    	data-info-title="{{ content.name }}"
    	data-info-label=""
    	data-info-year="{{ content.date }} "
    	data-info-att="סיפורי דרך, הספריה הלאומית"
    	data-info-att-link="{{ content.link }}">
    	<source src="/bootstrap-player/media/cusb-cyl2985d.ogg" type="audio/ogg" />
        <source src="{{ content.link }}" type="audio/mpeg">
  <a href="/bootstrap-player/media/cusb-cyl2985d.mp3">cusb_cyl2985d</a>
    </audio>

<audio controls>
  <source src="{{ content.link }}" type="audio/mpeg">
</audio>
