[program:{{webuser}}]
directory = {{dir}}
user = {{webuser}}
command = {{dir}}server.sh
stdout_logfile = {{logdir}}mapapp.log
stderr_logfile = {{logdir}}mapapp.log

[program:{{webuser}}_celery]
directory = {{dir}}
user = {{webuser}}
command = {{dir}}worker.sh
stdout_logfile = {{logdir}}celery.log
stderr_logfile = {{logdir}}celery.log

