{% extends 'mapapp/base.html' %}

            {% block content %}
            <div>
                <div class="Site">
                    <div class="site_id">מספר אתר</div>
                    <div class="site_name">שם אתר</div>
                    <div class="site_additional_text">תיאור נוסף</div>
                    <div class="sute_location">מיקום</div>
                    <div class="site_radius">רדיוס</span>
                        <div class="content">
                            <div class="cotent_type">סוג תוכן</div>
                            <div class="content_name">שם או כותרת תוכן</div>
                            <div class="content_description">תיאור תוכן</div>
                            <div class="content_link">קישור לתוכן</div>
                            <div class="content_date">תאריך התוכן</div>

                        </div>
                </div>


            </div>
            {% endblock %}
