{% load social_share %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>סיפורי דרכים - הספריה הלאומית אצלך בכיס</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link
            rel="stylesheet"
            href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
    />
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'librarian/css/bootstrap.min.css' %}"
          rel="stylesheet">
    <link rel="stylesheet"
          href="{% static 'librarian/css/bootstrap-rtl.css' %}">
    <link rel="stylesheet"
          href="{% static 'css/map.css' %}">

    <!-- font awsome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


</head>

<body>
    <div id="map" data-url="{% url 'sites' %}" style="position:absolute; top:0; left:0; right:0; bottom:0;">
    </div>

        <!-- Modal -->
    <div class="container-fluid">
    <div class="modal fade" id="site-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" id="site-info">

            </div>
        </div>
    </div>
    </div>

<!-- jQuery -->
<script src="{% static 'librarian/js/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'librarian/js/bootstrap.min.js' %}"></script>


<script src="{% static 'js/map.js' %}">

</script>


</body>
</html>