{% load social_share %}
{% load staticfiles %}
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

    <div class="modal-header" dir="rtl">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ site.name }}</h4>
    </div>
    <div class="modal-body" dir="rtl">
        <p>
            {{ site.additional_text }}
        </p>

        <ul class="list-group">
            {% for content in site.contents.all %}
            <li class="list-item">
                <div class="list-group-item-text">
                    {% include content.get_template_name %}
                    <br>
                    <a href="mailto:?subject=סיפורי דרך, של הספריה הלאומית&body={{ content.link }}"><i class="fa fa-envelope"></i></a>
                    <a href="http://www.facebook.com/sharer/sharer.php?u={{ content.link }}"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/intent/tweet?url={{content.link}}&hashtags=סיפורי_דרך" target="_blank">
                                <i class="fa fa-twitter"></i></a>
                    <a href="whatsapp://send?text={{content.link}}" data-action="share/whatsapp/share""><i class="fa fa-whatsapp"></i></a>
                 <br><br>
                </div>
            </li>
        {% endfor %}
        </ul>



    </div>

    <div class="modal-footer" dir="rtl">
        <div class="row">
            <div class=".col-xs-3 .col-md-3">
                <a type="button" class="btn btn-primary" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u='עברתי ב{{site.name}} והספריה הלאומיות שלחה לי את זה: {{site.get_modal_url}}'"><i class="fa fa-facebook"></i>פייסבוק</a>
                <a type="button" class="btn btn-primary" target="_blank" href="mailto:?subject=סיפורי דרך, של הספריה הלאומית&body={{ site.get_modal_url }}"><i class="fa fa-envelope"></i> דוא"ל </a>
                <a type="button" class="btn btn-primary" target="_blank" href="https://twitter.com/intent/tweet?text=עברתי ב{{site.name}} והספריה הלאומיות שלחה לי את זה: {{ site.get_modal_url }}"><i class="fa fa-twitter"></i> טוויטר</a>
                <a type="button" class="btn btn-primary" target="_blank" href="whatsapp://send?text=עברתי ב{{site.name}} והספריה הלאומית הציעה לי את זה: {{site.get_modal_url}}" data-action="share/whatsapp/share"><i class="fa fa-whatsapp"></i> וואטסאפ</a>
                <!--<a type="button" class="btn btn-primary" target="_blank" href="<a href='whatsapp://send?text=תראו מה הספריה הלאומית שלחה לי על [אתר]'>Hello, world!</a>"><i class="fa fa-whatsapp"></i> וואטאפ </a>-->
            </div>

        </div>
    </div>
