{% extends 'librarian/base.html' %}
{% load i18n %}
{% block content %}
content_detail.html
    <div>

        <h1>{{content.name}}</h1>
        <p>{{content.id}}</p>
        <p>{{content.type}}</p>
        <p>{{content.site}}</p>
        <p>{{content.content_type}}</p>
        <p>{{content.description}}</p>
        <p>{{content.link}}</p>
        <p>{{content.date}}</p>

        <a class="btn btn-default" href="{{ content.get_edit_url }}">
            <i class="glyphicon glyphicon-pencil"></i>
            {% trans "Edit" %}
        </a>

    </div>

{% endblock %}
