{% extends "librarian/base.html" %}
{% load i18n bootstrap3%}
{% block content %}
content_form.html
<form method="post">
    {% csrf_token %}
    {{form.media}}
       <div class="row">
            <div class="col-md-12">
                {% bootstrap_form_errors form "non_fields" %}
                <p class="site_name">שם האתר:{</p>
                {% bootstrap_field form.content_type %}
                {% bootstrap_field form.name %}
                {% bootstrap_field form.description %}
                {% bootstrap_field form.link %}
                {% bootstrap_field form.date %}

            </div>
        </div>
        <button>{% trans "Save" %}</button>
    </form>
{% endblock %}
