
            <div class="row">
                <span class="glyphicon glyphicon-remove clickable" id="close_editor"></span>
            </div>

    <div class="row">
        <form role="form">
            <div class="row col-sm-6">
                <h2> שם האתר</h2>
                <div class="right_scroll_frame">
                    <div class="form-group site_editor">
                        <p>שם האתר</p>
                        <p> additional_text </p>
                        <p> location </p>
                        <p>  radius </p>

                        <div class="map_area">

                            MAP

                        </div>
                    </div>
                </div>

                <div class="toolbar noselect">
                    <span class="glyphicon glyphicon-ok clickable"></span>
                    <span class="glyphicon glyphicon-remove clickable"></span>
                    <span class="glyphicon glyphicon-plus clickable"></span>
                    <span class="glyphicon glyphicon-trash clickable"></span>
                </div>
            </div>


            <div class="row col-sm-6">
                <h2 class="text-center">תכנים קשורים</h2>
                <div class="row col-sm-2 col-md-3">
                    <div class="right_scroll_frame">
                        <div class="form-group content_picker">
                            <p>תוכן</p>
                            <p>תוכן</p>
                            <p>תוכן</p>

                        </div>
                    </div>

                    <div class="toolbar noselect">
                        <span class="glyphicon glyphicon-ok clickable"></span>
                        <span class="glyphicon glyphicon-remove clickable"></span>
                        <span class="glyphicon glyphicon-plus clickable"></span>
                        <span class="glyphicon glyphicon-trash clickable"></span>
                    </div>
                </div>


                <div class="row col-sm-4 col-md-3">
                    <div class="right_scroll_frame">
                        <div class="content_editor">
                            <div class="form-group">
                                <label for="title">כותרת התוכן</label>
                                <input type="text" class="form-control" id="title">
                            </div>
                            <div class="form-group">
                                <label for="type">סוג התוכן</label>
                                <select class="form-control" id="type">
                                    <option>שיר</option>
                                    <option>ספר</option>
                                    <option>מסמך</option>
                                    <option>ווידאו</option><option>שיר</option>
                                    <option>שמע</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="site_description" >תיאור</label>
                                <input type="textarea" class="form-control" id="site_description">
                            </div>

                            </div>

                            <p>description</p>
                            <p>link</p>
                            <p>date</p>
                        </div>
                    </div>

                    <div class="toolbar noselect">
                        <span class="glyphicon glyphicon-ok clickable"></span>
                        <span class="glyphicon glyphicon-remove clickable"></span>
                        <span class="glyphicon glyphicon-plus clickable"></span>
                        <span class="glyphicon glyphicon-trash clickable"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>