
            <div class="row">
                <span class="glyphicon glyphicon-remove clickable" id="close_editor"></span>
            </div>

    <div class="row">

            <div class="row col-sm-6">

                <div class="right_scroll_frame">
                    <div class="site_editor">
                        <h2>שם האתר</h2>
                        <p> additional_text </p>
                        <p> location </p>
                        <p>  radius </p>

                        <div class="map_area">

                            MAP

                        </div>
                    </div>
                </div>

                <div class="row toolbar noselect">
                    <span class="glyphicon glyphicon-ok clickable"></span>
                    <span class="glyphicon glyphicon-remove clickable"></span>
                    <span class="glyphicon glyphicon-plus clickable"></span>
                    <span class="glyphicon glyphicon-trash clickable"></span>
                </div>
            </div>

            <div class="row ocl-sm-12">
                <h2>תכנים קשורים</h2>
               <div class="row col-sm-2 col-md-3">
                    <div class="right_scroll_frame">
                        <div class="content_picker">
                            <p>תוכן</p>
                            <p>תוכן</p>
                            <p>תוכן</p>

                        </div>
                    </div>

                    <div class="row toolbar noselect">
                        <span class="glyphicon glyphicon-ok clickable"></span>
                        <span class="glyphicon glyphicon-remove clickable"></span>
                        <span class="glyphicon glyphicon-plus clickable"></span>
                        <span class="glyphicon glyphicon-trash clickable"></span>
                    </div>
                </div>


                <div class="row col-sm-4 col-md-3">
                    <div class="right_scroll_frame">
                        <div class="content_editor">
                            <p>כותרת התוכן</p>
                            <p>content_type</p>
                            <p>description</p>
                            <p>link</p>
                            <p>date</p>
                        </div>
                    </div>

                    <div class="row toolbar noselect">
                        <span class="glyphicon glyphicon-ok clickable"></span>
                        <span class="glyphicon glyphicon-remove clickable"></span>
                        <span class="glyphicon glyphicon-plus clickable"></span>
                        <span class="glyphicon glyphicon-trash clickable"></span>
                    </div>
                </div>
            </div>
    </div>