<div class="card text-center col-md-4 noselect clickable" id={{site.id}} z-default=5 z-hover=8>
    <div class="row">
        <h3 class="bg-success"><a href="{{site.get_absolute_url}}">{{site.name}}</a></h3>

    </div>

    <div class="row">
        <p class="card-text">{{site.additional_text}}</p>
        <p class="card-text">




        </p>
        <p class="card-text">{{site.radius}}</p>
    </div>

    <div clas="row">
        <a class="btn btn-default" href="{% url 'create_content_from_url' site.id %}">הוספת תוכן</a>
        <a class="btn btn-default" href="{% url 'delete_site' site.id %}">מחיקת אתר</a>

    </div>
</div>

