    <div class="card col-md-4 text-center" z-default=20 z-hover=50>
        <a href="#">
            <img class="card-img-top img-responsive" src="http://placehold.it/700x400" alt="">
        </a>

        <div class="card-block">
            <h4 class="card-title">
                <a href="#">
                    {{name}}
                </a>
            </h4>
        </div>

        <div class="card-block">
            <p class="card-text">{{additional_text}}</p>
            <a href="#" class="btn btn-primary">עריכה</a>
        </div>

    </div>